[2017-12-08 09:00] florentferry opened #3 "Can't append to inexistant file"
Running generator fails due to inexistant file (`append  frontend/components/index.js`).

We need to provide some extra informations in readme.

[code]

[2017-12-08 09:36] Spone commented on #3
What about a rake test / generator to run after installing the gem?

    rails g komponent:install

It would take care of these actions.

[2017-12-08 10:31] florentferry commented on #3
Seems good to have a script to do that kind of things. We need to modify `config/webpacker.yml` in it too.

How we can deal with `webpacker` dependency, as we need `config/webpacker.yml` and `app/javascript` structure ? Maybe a warning when running `rails g komponent:install` ?

[2017-12-08 11:13] Spone commented on #3
Yeah, we can check if `config/webpacker.yml` and `app/javascript` exist, and if not, raise an error, explaining that `webpacker` needs to be installed?

[2017-12-08 12:20] Spone opened #5 "Standardize the component names"
I can currently pass `AwesomeButton`, `awesome_button` or `awesome-button` to the generator, and create 3 different components.

We should probably enforce a specific case for component naming.

I think Rails partial files expect `_awesome_button.html.slim`

On the contrary, I usually name CSS classes with dashes: `.awesome-button`

Maybe stick to an existing convention? [BEM](https://en.bem.info)

[2017-12-08 19:19] #5 closed

[2017-12-08 19:21] #3 closed

[2017-12-08 19:45] Spone opened #8 "Add some examples of use"
It would be great to have a few example components to show how the gem can be used.

[2017-12-18 20:50] Spone opened #12 "Add a generator for namespaced components"
`rails g component admin/header` should create a `header` component in `frontent/components/admin/header`

Open to discussion:

- how should we name the Ruby module? `AdminHeaderComponent`? `Admin::HeaderComponent`?
- how should we name the CSS class? `admin_header`?
- how should we name the CSS and JS files? `admin_header.js|css`? just `header.js|css`?

[2017-12-19 09:33] florentferry commented on #12
Except the CSS class which need to be changed due to possibles conflicts. We can name the CSS and JS files with short name `header.js|css`.

[2017-12-19 17:56] #12 closed

[2017-12-21 15:02] watsy0007 commented on #8
@Spone [Evil Front Part 2:
Modern Front-end in Rails](https://evilmartians.com/chronicles/evil-front-part-2)

[2017-12-23 10:49] florentferry opened #14 "Rendering partial into component"
## Problem

We need the ability to render partial inside a component. If that partial is inside the component, we need a way to prevent to give full path.

Example:

[code]

[code]

### Solution 1
---

Add `components` folder and all subfolders to lookup. But the drawback is the addition of a lot of directories to lookup.

[code]

[code]

### Solution 2
---

Add a `render_partial` helper to render

[2017-12-23 10:56] Spone commented on #14
I like solution 2. It's not something that would happen in all components, so I think this approach is specific enough and does not seem to have impact on the rest of the features / architecture.

[2017-12-27 13:06] andrzejsliwa opened #15 "encapsulation problem"
Hi

I see small problem with encapsulation, original idea was based on passing only locals,
but you are converting them on the fly to instance variables so there is couple issues with it:

- I have global scope, which is breaking encapsulation (I can call @var from child component), which is breaking the original concept of component isolation
- I can overwrite instance variables passed from contr

[2017-12-27 13:14] andrzejsliwa commented on #15
can you also explain the use case for "render_#{component_name}" ?
[code]

[2017-12-27 17:31] sigmike commented on #15
Hi,

Actually you can't use the `@var` that was defined in a parent component because the `view_context` is always taken directly from the controller so component instance variables are not inherited in child components.

Since the context is local, you can overwrite instance variables passed from the controller but it won't affect other views or components.

But indeed the fact the controller ins

[2017-12-27 20:48] andrzejsliwa commented on #15
yep, you are right. I was wrong, in my this was instance variable from controller. Thx!

[2018-01-01 17:40] #14 closed

[2018-01-01 19:59] florentferry opened #17 "Stimulus integration"
We need an option to integrate [stimulus](https://github.com/stimulusjs/stimulus) into Komponent.

## Installer generator changes

Append some extra lines to `frontend/packs/application.js` and run `yarn add stimulus`.

[code]

## Component generator changes

Due to autoloading from stimulus, import in `frontend/components/index.js` is unecessary, and naming convention require to change JS filenam

[2018-01-02 21:21] Spone opened #19 "Can't access content_for defined in component"
I'm trying to set a content_for in a component, and then access it in my layout:

[code]

[code]

But nothing gets yielded in the layout. Any idea?

[2018-01-02 21:24] Spone commented on #15
Your question seems resolved, I'm closing. Feel free to reopen.

[2018-01-02 21:24] #15 closed

[2018-01-04 03:16] openxyz commented on #17
it is greate with Stimulus integration!

[2018-01-05 10:47] sigmike opened #23 "Generate SCSS"
Shouldn't we generate a `.scss` file instead of a `.css`?

Or even better follow the configured preferred syntax (https://github.com/rails/sass-rails#options).

[2018-01-05 11:20] sigmike opened #24 "Dot prefix for locales"
With [this change](https://github.com/komposable/komponent/pull/18/files#diff-0d070a2ab0ce68ae1e2c8dcfe2f2f8adR2) the locale prefix becomes longer. It's good because it prevents conflicts but it makes the prefix even longer, so more painful to use.

I think we should :
1. either override `translate` (and `t`) to make keys starting with a dot look into the component locales (like [rails does](https

[2018-01-05 11:55] Spone commented on #24
:+1:  for option 1.

[2018-01-05 11:56] Spone commented on #23
Personally I prefer to use CSS (with PostCSS / CSSnext), so IMHO it would be better to follow the Rails app configuration (as we do with the templating language).

[2018-01-05 19:21] #19 closed

[2018-01-05 19:52] florentferry commented on #23
The same behavior than we already do with templating seems good. So preferred syntax at first, and `css` as fallback.

[2018-01-05 19:58] florentferry opened #25 "Add webpacker in gem dependencies"
Like we heavy rely on `webpacker`, we shoulda add the `webpacker` gem as a dependency.

[2018-01-05 20:02] florentferry opened #26 "Add an example of generic javascript files"
In the documentation, we don't have an example on how  to handle generic javascript file, only javascript file specific to component. We need to show where to set that kind of files in our component-based hierarchy, in `frontend` ?

A lot of people shoulda use `turbolinks` or `rails-ujs` so let's show how to handle that kind of modules in our structure.

[2018-01-07 15:54] #25 closed

[2018-01-07 15:54] #23 closed

[2018-01-07 15:56] #24 closed

[2018-01-08 10:59] andrzejsliwa commented on #24
can you provide examples how to use it?

[2018-01-08 11:14] florentferry commented on #24
[code]

[code]

[2018-01-08 19:25] #17 closed

[2018-01-08 19:45] andrzejsliwa opened #31 "link to stimulus documentation and guide"
would be great to link to stimulus documentation and guide from readme

[2018-01-08 20:07] Spone commented on #31
Hi Andrzej,

first of all thanks for your contribution on the stimulus integration!

There is already a link here: https://github.com/komposable/komponent#stimulus-integration

Do you think we should add more links? I think it's best to link only to the repository since other URLs may change at some point.

[2018-01-09 08:32] andrzejsliwa commented on #31
Hi Hans, I miss link, thx!

[2018-01-09 08:32] #31 closed

[2018-01-09 23:58] Spone commented on #26
If it's just Turbolink and Rails UJS initialization (a couple lines for each), I think it can stay in each pack file (`frontend/packs/application.js`).

If it's more than that, maybe in `frontend/base/`on in another folder in `frontend/`?

[2018-01-10 08:02] florentferry commented on #26
But that's lines are duplicated for each packs, we could make a folder in `frontend/` to share that kind of initialization, but not a strong need because its just 2 lines for both.

While we have `js` file or `controller` to handle specific behaviors on component, we have the need to share common ones to several components. Like showing a datepicker in various componets, but that's not the way `co

[2018-01-10 08:02] #26 closed

[2018-01-10 20:00] florentferry opened #33 "Wrong import css in component generator"
When we use `sass` or `scss` stylesheet engine,  and we generate component `rails g component button`, the `import './button.css'` is always asking `css` file then than in folder we have `scss` or `sass` file.

We have to change that line in both `templates/js.erb` and `templates/stimulus_controller_js.erb`.

[code]

to:

[code]

We have to update `features` in `features/component_generator/styles

[2018-01-12 20:04] #33 closed

[2018-01-16 03:37] olimart opened #37 "Style not being loaded"
Salut,
très bonne idée ce gem.

J'ai suivi l'exemple du readme avec Stimulus mais il semble que le CSS dans le fichier `button.scss` ne soit pas chargé/compilé.

J'ai une application de test à disposition si besoin.

[2018-01-16 08:48] florentferry commented on #37
Bonjour,

Merci pour l'intérêt que tu portes à Komponent.

J'ai essayé sur une application fraîchement créée, et je n'ai pas eu de problème. Je vois plusieurs raisons à ce problème :
- Le tag `stylesheet_pack_tag` n'est pas présent dans le layout de ton application.
- Dans ton composant, tu as un fichier de styles avec une extension `.scss` mais dans l'import, c'est un fichier avec une extension `

[2018-01-16 13:37] olimart commented on #37
Je n'avais pas réalisé que le stylesheet_pack_tag étais requis. Merci 👍

[2018-01-16 13:37] #37 closed

[2018-01-16 15:16] olimart opened #38 "Gem example"
Do you have a working example of a gem that leverages Komponent ready for a Rails app.?

[2018-01-16 18:01] florentferry commented on #38
We do not have an example gem which embed components. If you want to wrap your components in a gem you can refer to the [additional paths](https://github.com/komposable/komponent#additional-paths).

[2018-01-16 18:28] olimart commented on #38
ok mais concrètement où devraient se trouver les composants dans le gem?

[code]

Pour le moment j'obtiens

[code]
avec le code sous additional path dans `my_gem.rb`

[2018-01-16 18:45] florentferry commented on #38
I think the documentation is wrong about the `self`, try replacing it with `Komponent.root`. I should update the readme if it's working for you too.

[2018-01-17 04:38] olimart commented on #38
Getting ``undefined method `root' for Komponent:Module (NoMethodError)`` with the following

[code]

[2018-01-17 07:45] florentferry commented on #38
Put access modifier and `root` method inside `Yastyle` module but outside `Railtie` class.

[2018-01-17 14:03] olimart commented on #38
I'm getting this time

[code]

[code]

[2018-01-17 14:12] Spone commented on #38
I think what @florentferry meant was:

[code]

[2018-01-17 15:32] olimart commented on #38
@Spone

Getting ``undefined method `root' for Komponent:Module (NoMethodError)``

at `app.config.autoload_paths << Komponent.root.join("frontend")`

[2018-01-17 15:37] Spone commented on #38
Actually, `Komponent.root` should be `Yastyle.root` in your case (you have to use the name of your Gem module)

[2018-01-17 15:39] Spone commented on #38
Then, put your components in a `frontend/components` folder, which should be placed in the path returned by your `Yastyle.root` method.

[2018-01-18 15:48] florentferry commented on #38
Seems this issue been resolved, I closing it. I shoulda merge a PR with an update to  readme on how to wrap components in a gem.

[2018-01-18 15:48] #38 closed

[2018-01-18 20:23] cseelus opened #41 "Configuration via initializer and components path"
Found this gem through the Evil Martians blog, nice idea to make a gem out of it.

How does the configuration via initializer work exactly, like so?

[code]

Also is it possible to change the default component path from `frontend` to say `app/frontend`?

[2018-01-18 21:28] florentferry commented on #41
Hello @cseelus,

You can configure [Komponent generators](https://github.com/komposable/komponent#default-options-for-the-generators) by defining global options for both generators in an initializer:

[code]

So next time, you generate a component, flags you're defined should be used.

Yes, it's possible to [change the default component directory](https://github.com/komposable/komponent#additional

[2018-01-18 22:03] florentferry commented on #41
Yeah, the setting does not affect generation. Like `component_paths` is used to resolved several endpoints, I don't think the setting should modify the location where components are generated. But an option on generator can be the right way to do that.  Actually they are no options for that, but we can add it.

This options need to be defined on generators:
[code]

[2018-01-18 22:12] cseelus commented on #41
Thanks again, thought I had tried `Rails.application.config.generators.komponent.locale`, but well … 😅

An option for the generator would be most welcome, as moving the generated files manually and deleting `/frontend` after each invocation defeats the purpose for anyone using a different folder somewhat.

[2018-01-20 14:31] Spone opened #42 "Sort index.js imports alphabetically after adding a component"
I think we should sort the imports in the `index.js` file after adding a component using the generator.

If we implement this, let's add an option to disable this feature (at the generator level, and in config).

[2018-01-20 14:39] florentferry commented on #41
So I implement the feature you have requested, I let you check #43 to ensure it responds to your use case.

[2018-01-20 17:28] #41 closed

[2018-01-25 15:52] MittchoBaroco commented on #42
Hello,

I am currently working on this, I just wondering how you would like to handle if there is comments or any other code in the index.js

Options:

1. remove everything that is not an import
2. create a delimiter where the generator can write safely

[2018-01-25 17:53] Spone commented on #42
Hi! Thanks for contributing :)

Personally I wouldn't mind removing everything that is not an import (it's an index file so theoretically it should only be used for imports).
But maybe it's better to add a delimiter just in case?

@sigmike @florentferry what do you think?

[2018-01-25 18:03] florentferry commented on #42
Hello,

The main purpose of this file is about listing others files, in theory only imports generated were been listed here. So keeping only imports is fine.

[2018-01-26 08:02] MittchoBaroco commented on #42
Great, it makes it easier.

[2018-01-26 10:55] Spone opened #44 "Add a method to return the list of components"
If I want to create a styleguide / pattern library in my app, I'll need access to the list of available components.

I think Komponent should make a helper available to my views and/or add a class that I can use in my controllers.

[2018-01-31 23:29] Spone opened #45 "block_given? from component module"
When calling `block_given?` from a method in a component module, it returns `false`, even if the component is called with a block.

If I call `block_given?` from the partial, it works as expected.

Is there a way to improve this?

Module:

[code]

Partial:

[code]

Rendering the component with a block:

[code]

[2018-02-01 15:12] sigmike commented on #45
You're really not calling your helper with a block, so it's normal `block_given?` returns `false`.

We could add a new method that returns what you want though. We would just have to
* detect the block in the `component` helper (like [here](https://github.com/komposable/komponent/blob/master/lib/komponent/komponent_helper.rb#L23)),
* save that in the context instance variables
* and add a method i

[2018-02-01 15:59] Spone commented on #45
Yes, it's the normal behavior. Nonetheless, it would be a good idea to be able to check if the component has been called with a block.

OK for naming it `block_given_to_component?`

[2018-02-02 16:12] Spone commented on #44
@florentferry @sigmike As we discussed today, it may be a better idea to add this feature as part of another gem, which would be aimed a generating the styleguide / pattern library UI.

[2018-02-02 16:39] florentferry commented on #44
:+1:

[2018-02-06 08:44] #44 closed

[2018-02-07 22:18] meneerprins opened #50 "Sass & HAML"
Would it be possible to just set the template language in an initializer? I use the hamlit gem (not haml-rails or something) but now komponent generates .erb files.

And for sass/scss, could it be possible to import one index file with all sass component partials? Since variables can't be used globally when each file is imported by the javascript.

[2018-02-07 23:05] florentferry commented on #50
Hello @meneerprins ,

For the first point:

[code]

For the second point, I need to investigate and discuss with @spone about the need and find a solution to make it possible without list all files into one globally.

[2018-02-07 23:24] florentferry commented on #50
A possible solution is to create a file `_variables.scss` in `frontend` folder and import it in each `sass/scss` files you need variables.

[code]

[code]

[2018-02-08 00:04] meneerprins commented on #50
Hi @florentferry thanks for the tip, didn't know about that setting for HAML.

For the scss, that just doesn't look very practical, especially when you have a large project with a lot of components. In addition to that, variables are used in almost every file in my experience. Some sort of autogenerated _components.scss partial (sorted alphabetically) that you can manually include would be a nice

[2018-02-08 10:20] Spone commented on #50
Hi @meneerprins, good idea! We'll do some tests and keep you informed.

[2018-02-08 17:54] florentferry commented on #50
Solution 1:
- Create a new file `application.scss` in `frontend/packs`

[code]

- Require it in `application.js` in `frontend/packs`

[code]

- Create a new file `index.scss` in `frontend/components` and require components stylesheets into it.

[code]

- Remove `import './button.scss';` from `frontend/components/button/button.js`

So now, each components stylesheets have access to variables global

[2018-02-13 17:38] #42 closed

[2018-02-18 22:33] MittchoBaroco opened #54 "import to namespace get subtracted even if there is other component"
## Expected Behavior

When I remove a component on a namespace using the rails destroy command, the import does not get remove from components/index.js.

## Actual Behavior

When I am using `rails d component admin/test` `import "components/admin";` get subtracted even if there is more than one component into the admin folder.

## Steps to Reproduce the Problem

- rails generate component admin/te

[2018-02-19 09:04] florentferry commented on #54
Hello @MittchoBaroco,

I agree this behavior is boring. I should check at it soon, we only need to remove imports if all components in namespace doesn't exist anymore.

[2018-02-20 16:52] Spone opened #56 "Compatibility with Middleman?"
I'm wondering if it would be possible to use Komponent with [Middleman](https://middlemanapp.com), for static websites. Middleman architecture is pretty similar to Rails, and there are gems to integrate with Webpacker: https://github.com/marsbased/middleman-webpacker

See also this article: https://rossta.net/blog/using-webpack-with-middleman.html

[2018-02-22 09:12] Spone opened #58 "Make install generator idempotent"
I should be able to run the `rails generate komponent:install` command several times, for instance if I want to run it again with other options.

My use case was that I wanted to setup Stimulus after running the install.

[2018-02-22 19:13] MittchoBaroco opened #60 "throw an exception when false or nil is passed into a component property"
# Expected Behavior
When passing a false or nil it should not crash

# Actual Behavior
throwing a NameError: `undefined local variable or method `options' for`

# Steps to Reproduce the Problem
passing a false or nil on any value of a component like this `<%= c "test", value: false %>`

# Context
I have a component that's taking in a boolean and display a check mark or a cross depending if it's a

[2018-02-22 19:20] florentferry commented on #60
Hello @MittchoBaroco,

I think this issue is resolved by https://github.com/komposable/komponent/commit/0a2de8c38d2088ab1b983a91bb2df7ba468ad8a9 on `master` branch.

[2018-02-22 19:29] MittchoBaroco commented on #60
let me try.

[2018-02-22 19:34] MittchoBaroco commented on #60
Yes, thank you, to bad I wanted to try to solve it 😂

[2018-02-22 19:34] #60 closed

[2018-02-22 19:52] #54 closed

[2018-02-25 22:47] florentferry commented on #56
Proof of concept: https://github.com/komposable/middleman-komponent
Demo app: https://github.com/komposable/middleman-demo

[2018-02-27 19:27] #58 closed

[2018-02-28 15:27] Spone opened #61 "Generate component when no available locale is defined"
When the `available_locales` config key is not defined and you run `rails g component button --locales`, by default Rails considers that all locales are available and the generator creates dozens of files.

How can we handle this graciously? Maybe a friendly reminder to define the `available_locales` before running the generator? But how can we determine if it has been defined or not?

[2018-02-28 15:37] Spone commented on #61
Actually, it's only when you have the `rails-i18n` gem installed.

[2018-02-28 15:58] Spone opened #62 "Make component generator idempotent"
I should be able to run the `rails generate component button` command several times with the same result. Currently, it duplicates the import in `frontend/components/index.js`

I think we just need to deduplicate the imports when we sort them here: https://github.com/komposable/komponent/blob/master/lib/generators/component/component_generator.rb#L173

[2018-02-28 16:58] florentferry commented on #61
By default, available locales is defined to `[:en]`. You only need to define yours if you need some more, but if `rails-i18n` set to all available locales on earth, it's an issue. Maybe just mention it in readme ?

[2018-02-28 20:34] florentferry commented on #62
Yes,  remove duplicates before rewriting it to file seems the only thing to do to make this possible.

[2018-03-01 17:44] Spone opened #64 "Add frozen_string_literal option to optimize performance"
see https://www.mikeperham.com/2018/02/28/ruby-optimization-with-one-magic-comment/

[2018-03-01 17:55] florentferry commented on #64
We can enforce it with rubocop:  http://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Style/FrozenStringLiteralComment

[2018-03-02 17:28] ribanez7 opened #66 "component helper using relative paths"
Hi, first of all congratulations for the job done, I really enjoy working with the gem. I was wondering if are there any plans to incorporate the possibility of rendering components using a relative path.
I know that's not railish enough, but I think its kind of a elementary feature for frontend frameworks, most of all, due to rehusability.

A case example would be a component which needs two chil

[2018-03-03 09:41] Spone commented on #66
Hi @ribanez7 thanks for the issue!

I think it really depends how you use the component nesting feature. In some projects, I use it to split a complex component into smaller subcomponents. In this case your idea makes sense.

But on other projects, I use nesting as a way to organize the components by namespace, such as `admin` or `form`, and subcomponents are not necessarily rendered by a parent c

[2018-03-03 13:38] florentferry commented on #66
Hello @ribanez7 ,

Rails doesn't permit to do that kind of nesting with relative paths for their partials (https://github.com/rails/rails/issues/1143), as we rely on Rails for rendering our components, I don't think we can introduce this feature without make the same abstraction than [cells](https://github.com/trailblazer/cells) do.

In your example:

[code]

You have access to`c ('other_component

[2018-03-03 19:11] florentferry opened #68 "Rubocop not target the right ruby version"
Since I changed the gemspec to require ruby version 2.2 and the travis matrix targeting 2.2 until ruby-head, the rubocop configuration no longer targeting the right version. We need to change `RubyTargetVersion` option of rubocop from 2.4 to 2.2.

[2018-03-04 19:30] #68 closed

[2018-03-04 19:31] #64 closed

[2018-03-05 11:22] #62 closed

[2018-03-06 11:48] JoseMPena opened #73 "application.scss silently breaks javascript"
### versions & Setup
pachages.json
[code]
Gemfile.lock
[code]
application.html.erb
[code]
frontent/packs/application.js
[code]
### Steps to Reproduce:
A)
1. Create an empty file: frontent/packs/application.scss
2. Launch servers

Expected: "Hello World" to be displayed in console
Actual: No "Hello World" message even tho compilation finishes with no error.

B)
1. Rename file frontent/packs/applica

[2018-03-06 11:52] Spone commented on #73
Thank you for the bug report, we'll investigate.

[2018-03-06 12:21] Spone commented on #73
It may be related to https://github.com/webpack-contrib/sass-loader/issues/403

[2018-03-06 12:36] Spone commented on #73
@JoseMPena can you check which version of `sass-loader` is installed? (see `yarn.lock`)

[2018-03-06 13:20] JoseMPena commented on #73
@Spone

[code]

[2018-03-06 14:06] Spone commented on #73
That is weird because it's supposed to be fixed with `sass-loader` 6.0.3

I'm not sure it an issue with Komponent.

Do you reproduce it without `komponent`, only `webpacker` and `sass-loader`?

[2018-03-06 14:24] ribanez7 commented on #66
I have been thinking on your comments and you convinced me :-), also I have encountered cases where the relative lookup is a problem. Yes, from my point of view, there are reasons enough to preserve the absolute path approach.
Let me close the issue.
Thanks!

[2018-03-06 14:24] #66 closed

[2018-03-06 15:37] andrzejsliwa opened #74 "maybe we can provide rails app template for komponent?"
I made https://github.com/andrzejsliwa/rails_components_template, with my preferred setup, but maybe we can build more fancy generator (with "wizard" asking for different options).

This will lower the entrance barier for komponent.io
What do you think about such idea?

[2018-03-06 20:30] florentferry commented on #73
Hello @JoseMPena,

This issue is not related with Komponent. I made some investigation on it, seems using `application.scss` pack is [not the recommended way](https://github.com/rails/webpacker/issues/1043). The official Webpacker guide and issues related to that point are pretty confusing.

You have two possibilities:

- Create you file in `app/javascript/packs/src/application.scss`
- Add `styles

[2018-03-06 20:30] #73 closed

[2018-03-06 20:35] Spone commented on #74
Hi Andrzej,
we're happy that you chose to use Komponent by default in your Rails template.

I think that a Rails template usually reflects the preferences of its creator, so I'm not sure it makes sense for Komponent to provide such a template.

[2018-03-06 20:41] florentferry commented on #74
Hello @andrzejsliwa,

 We have a custom template / engine / collection of generators to build our client projects, so we are not the target for such generic template. We have in mind to build and release an engine (https://github.com/komposable/komposable) which relies on `Komponent` for frontend and admin panel views.

Templates are pretty difficult to be shared, generic one contains a lot of cod

[2018-03-06 20:41] #74 closed

[2018-03-07 10:01] JoseMPena commented on #73
I just found a workaround. Moving `application.scss` from `frontend/packs` somewhere else, say, `frontend/support` and just require it in `application.js`
[code]
And it all works like a charm :)

[2018-03-07 10:04] JoseMPena commented on #73
@florentferry I posted the previous comment before refreshing this page 😝

[2018-03-08 08:08] JoseMPena opened #75 "Unable to use component helper"
As per the README, component helper module should(?) be wired up to the component 'view' right out of the box:
### Helpers
If your partial becomes too complex and you want to extract logic from it, you may want to define custom helpers in the `ButtonComponent` module:
[code]
However, none of the methods defined on my helpers are accessible from the component 'view':
[code]
[code]
Always returns:
`

[2018-03-08 08:39] Spone commented on #75
Hello @JoseMPena thanks for the bug report.

It's weird, it should work out of the box. Did you try to restart the server after creating the component?

Which version of Komponent / Rails / Ruby do you use?

[2018-03-08 09:14] JoseMPena commented on #75
Hi @Spone, thanks for your answer.
Actually, just found out that (at least in my case) have to restart the Rails server (not even webpack-dev-server) to get the new helper methods working. Looks like an ActionView thing.
My versions:
Rails 5.2.0.rc1
Ruby 2.4.1

[2018-03-08 09:26] Spone commented on #75
Ok, so it's an autoloading problem.

In the latest version of Komponent, when you run the install generator, it will take care of it automatically (you can update Komponent, run `rails generate komponent:install` again and choose to overwrite just the `config/application.rb` file).

If you want to do it manually, just add these two lines to `config/application.rb`:

[code]

And that should fix it

[2018-03-08 09:26] #75 closed

[2018-03-22 09:14] Joralf commented on #50
Hi @florentferry and @Spone,

I've ran into the same issue as @meneerprins. Your solution solves the usage of variables in components, but the price is that all imports done from the css file in the component break.

Say the button uses the following css:

[code]
where the image is located at `./button/button-background.png`.

With the proposed solution the loader will try to resolve `./button-bac

[2018-03-22 10:49] Joralf opened #76 "Generate scss files without sass-rails"
Hi there!

In #28 you've added generation of scss files by using to the `Rails.application.config.generators.stylesheet_engine` variable.

I think (correct me if I'm wrong!) this only works because a default Rails app comes with sass-rails. When using webpacker + komponent this library seems obsolete as webpacker will compile my scss into css and the whole assets pipeline is skipped.

Without `sas

[2018-03-22 18:35] florentferry commented on #76
Hello @Joralf,

No, you're right. Maybe we can add a configuration option to choose between `css`, `scss` or `sass` as we do for `stimulus` or `locale`. We only use the `stylesheet_engine` variable to detect the syntax used by user, not for generation.

[2018-03-22 18:43] florentferry commented on #50
Hello @Joralf,

I let @spone respond to you, he uses Komponent in several projects, then he should have the same issue than you. I use the first method I mentioned, importing in each component.

[2018-03-22 23:25] Spone commented on #50
Hi @Joralf

I don't have this issue, where all imports break. Can you please create a gist with code to reproduce the issue?

[2018-03-22 23:27] Spone commented on #76
I agree we could add a configuration option. It's also an issue when a project use both scss and css concurrently, and you want to force komponent to generate css files (instead of scss).

Feel free to make a PR!

[2018-03-23 09:44] Joralf commented on #50
Thanks for the quick reaction guys!

@Spone, here's the gist: https://gist.github.com/Joralf/41923d3a22245c8dbd5e790b9e58aeee

This throws an error with:

[code]

Which makes sense, because the entry point of the scss file is now `packs/entry.scss` which means any url resolving is done from that path. You can "solve" this by changing the line to ` background-image: url('../components/test/test.jpg

[2018-03-23 09:46] Joralf commented on #76
I'll have a look if I can put something up in the next few days.

[2018-03-24 14:39] Spone commented on #50
Thanks @Joralf for taking the time to prepare the gists.

I agree with you that the most important here is to have "plug-and-play" components with proper encapsulation and no dependency to its path.

I feel that using a single entry point for each component (the `.js` file) is more true to the Webpack way. But it comes at the expense of not having access to variables without explicitely importing

[2018-03-24 17:10] Spone opened #77 "Caching implementation"
I'm wondering how we could implement fragment caching for the components.

(First, if you're not familiar with the topic, I suggest you read the [Rails guide about caching](http://guides.rubyonrails.org/caching_with_rails.html))

Actually, we can currently wrap manually the whole component partial in a `cache` helper, in order to cache it. But maybe Komponent should have a built-in way to do that.

[2018-03-28 18:36] nicolas-brousse opened #78 "How access the given block inside the helper"
I'm looking for using the given block to my component inside the helper. But I didn't found how to retrieve the block.

I used `block_given_to_component?` and that's works, but if I use `@block_given_to_component.call` but it returns me the content of my parent component.

Is it a missing feature? Or a mistake of usage?

[2018-03-29 07:10] florentferry commented on #78
Hello @nicolas-brousse,

Can you provide a gist with your use case, I don't get it what you want to achieve.

You can use it in view with `yield` or `@block_given_to_component.call`, and you have access to `block_given_to_component?` in both view and helper.

You have access to `Proc` in helper too, and you can get the content with `capture_block = capture(&@block_given_to_component) if block_give

[2018-03-29 12:38] nicolas-brousse commented on #78
Hello @florentferry,

The idea is to have component where I can pass property or block for the content like following:

[code]

*Usage*

[code]

or

[code]

If I use `capture_block = capture(&@block_given_to_component) if block_given_to_component?` I have some wired result.
![screen shot 2018-03-29 at 14 34 16](https://user-images.githubusercontent.com/699216/38089031-569852ca-335e-11e8-8d91-5549e

[2018-03-29 12:43] nicolas-brousse commented on #78
Here is a gist with more content https://gist.github.com/nicolas-brousse/fda23564f0725c14b970a26cd9aed30a

[2018-03-29 18:47] florentferry opened #79 "Throw explicit error when component is not found"
When component is not found in both allowed syntax, we need to return an explicit error.

[2018-03-29 18:49] florentferry opened #80 "Add an javascript index file in component"
In order to use `import 'button';` instead of `import 'button/button';`, we should add an `index.js` in component folder which only do import of `button.js`.

[2018-03-29 18:49] florentferry opened #81 "Backtrace improvements when exception is raised inside component"

[2018-03-29 19:06] florentferry commented on #78
Its an issue on `komponent`. I should fix it, but let me know if that kind of usage is right for your need.

[code]

[2018-03-29 19:13] florentferry commented on #80
When using collection of components packaged into a npm module, its more concise to just import component with the name of the component instead of `component_name/component_name`. But we can delayed the feature, and discuss about it.

[2018-03-29 20:36] Spone opened #82 "Add frozen_string_literal to the generated Ruby files"
We should change the generator templates to add `# frozen_string_literal: true` to the top of the generated component Ruby files.

[2018-03-29 20:50] florentferry commented on #78
You can use it on `master` branch, let me know it is not working good.

[2018-03-29 21:08] nicolas-brousse commented on #78
Wired I have this error ```undefined method `capture' for #<Komponent::ComponentRenderer:0x00007fdc0eb70d58>```.

[code]

Because of a `yield` usage into on of my component.

I cloned the gem locally to try to understand why.

[2018-03-29 22:07] nicolas-brousse commented on #78
No worries it happens. Happy to help to found this bugs :)

But still have issues with usage of `yield`. I tried to remove all my specific code and only use a `yield` in a component view. And it render this:
![screenshot-2018-3-30](https://user-images.githubusercontent.com/699216/38115948-507af5d2-33ae-11e8-9c43-140781ed79e2.png)

I'll look a bit more to be sure I didn't make a mistake.

[2018-03-30 08:06] florentferry commented on #78
I revert to old behavior, I think using `yield` instead of `@block_given_to_component` should fix your issue for now.

[2018-03-30 11:40] nicolas-brousse commented on #78
Okay. Using `yield` inside the view so?

[2018-03-30 12:17] florentferry commented on #78
Yes

[code]

[2018-03-30 13:00] slecorvaisier opened #83 "Component rendered twice"
Hi

I came across a situation where a component will render itself twice, the second rendering being nested in the first one (probably considered as a block). It happens when the component is using itself a rails block, like a `field_wrapper`.

Here is a gist:
https://gist.github.com/slecorvaisier/99336ed2b49652d5e192e856dcf0295e

And a screenshot of the DOM:

![screen shot 2018-03-30 at 14 50 05]

[2018-03-30 13:11] Spone commented on #83
Quick reply to this: yes, I use it mainly with Slim personally.

We'll investigate the issue, thanks for the report.

[2018-03-30 13:20] slecorvaisier commented on #83
Thanks!
We just noticed the component is rendering properly without the `f.field_wrapper ... do`

[2018-03-30 17:15] nicolas-brousse commented on #78
Okay, thanks.

[2018-03-30 21:01] florentferry commented on #83
Hello @slecorvaisier,

Is your issue resolved ? I can't reproduce your problem with my simple use case from what you described here. If not resolved, can you provide the komponent version you are using.

[code]

[code]

[2018-03-30 21:49] florentferry commented on #78
Hello @nicolas-brousse,

You can try the expected behavior on `component-renderer-fix`, on that branch you can use the method `block_given_to_component` accessible in both view and helper, which contains `nil` or ` proc` if block given. You can use both `yield` and `block_given_to_component.call` to access content passed in.

Let me know if the behavior is ok for you, and if the method fits well w

[2018-03-30 22:21] #8 closed

[2018-04-02 08:29] nicolas-brousse commented on #78
Thanks @florentferry!

Looks like it works fine now!

[2018-04-03 08:03] Joralf commented on #50
Hi @Spone and @florentferry ,

That sounds like a good solution. So it's a similar approach to https://github.com/komposable/komponent/issues/82 except that the css file you want to include on top will be dynamic?

[2018-04-03 08:13] Spone commented on #50
Not sure what you mean about #82

[2018-04-03 08:41] Joralf commented on #50
Ah sorry. Maybe wrong comparison. But as far as I understand you want to make sure that:

`@import '../../src/stylesheets/variables';`

Will be added automatically to the top of every css file when you generate it via `rails generate component xxx`

[2018-04-03 08:52] Spone commented on #50
Yes exactly. But I think that means we have to enforce a convention for naming this file.

For instance I use `../../base/variables.scss` but you use `../../src/stylesheets/variables`

Also, I think we want to `@import` with a path based on Komponent's root, so we don't need the `../../` in front of the path.

Would that work for you?

[2018-04-03 09:33] slecorvaisier commented on #83
Hi @florentferry
I'm using v1.1.4

Your example is indeed working but doesn't reflect my case as `wrapper` should be IN the component. (BTW having a comma after `:div` triggers an error)
[code]

[code]

This example also works. After some more investigation it seems the issue is related to the rails 5.1 `form_for` [helper](http://api.rubyonrails.org/v5.1/classes/ActionView/Helpers/FormHelper.html)

[2018-04-04 06:55] florentferry commented on #83
Hello,

There are only one case where the behavior is not expected, when block is given to a form builder helper. I investigate into it, don't know why this behavior happens here. But you can bypass the behavior:

[code]

[code]

[code]

[2018-04-06 08:25] pablocrivella commented on #83
This scenario also show duplicated content:

[code]

[code]

[2018-04-06 08:32] Spone commented on #83
I think Komponent is not compatible with custom `FormBuilder`s for now.

Personally, I use it with `form_for`:

[code]

So the components are only wrappers around the fields.

I'll try to have a look at using a custom `FormBuilder`.

[2018-04-06 08:52] pablocrivella commented on #83
That is an interesting approach! Thanks for sharing @Spone!

[2018-04-11 09:25] Joralf commented on #50
Yeah, I'm fine with forcing the name/location for the file. And that import statement would make it a lot easier!

[2018-04-11 09:37] Joralf commented on #76
@Spone : Works like a charm, thanks!

FIY: I'm not really experienced with contributing to gems, so sorry for not contributing, I just didn't know where to start. Surprised by the simplicity of the code though, so I'll try to keep up to date with the PR's and see if I can contribute to different issues later.

[2018-04-11 09:41] Spone opened #88 "Create a file for (S)CSS variables on install"
When we run `rails g komponent:install`, let's create a file in `frontend/base/variables.(s)css`

When we generate a component, we should `@import` the variables file by default in the generated (S)CSS file. Make sure that the path is right (especially for nested components).

Or maybe we could add some configuration to be able to always import with `@import "base/variables";`
It's possible with h

[2018-04-11 09:41] Spone commented on #50
Ok, I created a issue for that: #88 and I'm closing this one.

[2018-04-11 09:41] #50 closed

[2018-04-11 09:43] Spone commented on #76
Don't worry, I'm a beginner at working on open source gems as well :)

[2018-04-12 18:21] #82 closed, assigned to florentferry

[2018-04-12 18:23] #79 closed, assigned to florentferry

[2018-04-18 15:21] devonwalshe opened #89 "Component helper methods aren't included in remote renders"
A component that uses a helper method defined in its associated helper module returns a `NoMethodError`, when a controller action is called via ajax with a `remote: true` call.

[code]
[code]
[code]
If the helper method is included in the `app/helpers/foo.rb` it works just fine.

App is on komponent 1.1.4 & Rails 5.1.

[2018-04-18 15:27] Spone commented on #89
Hi @devonwalshe can you try with version [`2.0.0.pre.1`](https://rubygems.org/gems/komponent/versions/2.0.0.pre.1) of Komponent?

[2018-04-18 15:28] florentferry commented on #89
Hello @devonwalshe,

Can you use `view_helper.component "foo_component"` in your controller instead of `render partial:` and let me know if you have always this issue.

[2018-04-18 17:17] florentferry commented on #89
Hello @devonwalshe,

Nothing wrong here, you are using `render partial` from Rails, not `component` helper from Komponent. Only component helper load and inject component module into view context.

You can do what you want with:

[code]

[2018-04-19 13:33] devonwalshe commented on #89
Cheers @florentferry, that indeed worked. Would agree it would be useful if this was documented. Many thanks!

[2018-04-19 13:33] #89 closed

[2018-04-27 15:28] Spone opened #91 "Generator to rename a component"
It would be great to have a generator to rename a component:

- change the folder name
- change the file names
- replace occurrences of the old name with the new name in all the files

[2018-04-27 21:57] Jbern16 opened #92 "how to import styles using an engine"
Hello,

I'm trying import styles from components that are hosted in an engine. I followed the directions for using `engine.js`, but receiving a `webpacker can't find engine.css in /Users/jonathanbernesser/native/kompsetup/public/packs/manifest.json` when doing the same instructions for `stylesheet pack_tag`.

If i create an `engine.scss`file next to the `engine.js` file, and import it into the `en

[2018-04-30 12:01] Spone commented on #89
I documented this in the cookbook: https://github.com/komposable/komponent/wiki#cookbook

[2018-04-30 17:39] Spone commented on #92
Hi @Jbern16,

Usually, you will get the `webpacker can't find engine.css` error when your pack doesn't return any CSS. When you add some rules to your CSS file, the error will disappear.

Is your project accessible somewhere? I would need to see the whole file structure to help you debug it.

[2018-04-30 22:39] Jbern16 commented on #92
hey @Spone, I've created a public repo of the frontend dir structure that is in our engine. https://github.com/Jbern16/frontend. I've also included the webpacker.yml from our host app. These components were almost entirely generated using komponent generators

Thanks!

[2018-05-06 16:26] Jbern16 commented on #92
@Spone Hi! still having an issue with this. Its not just styles, but any packs can not be imported from my engine. I don't think it's as simple as including the `engine/frontend` in resolved paths. I've found this issue in webpack https://github.com/rails/webpacker/issues/21, that makes it seems that it is possible to compile packs from an engine. I am new to webpack so I may be conflating things.

[2018-05-08 16:16] #92 closed

[2018-05-22 01:05] nicolas-brousse opened #93 "Return values from component with yield"
I'm trying to create a component to have a form container. And so use yield to pass the form helper to the view from the component.
So I did the following.

[code]

[code]

But I got this error : `ActionView::Template::Error (undefined method `label' for nil:NilClass)`.

I tried to print the content of `form` or `f`. I have the form helper object inside the container, but in the view `f` is nil.

[2018-05-22 17:35] florentferry commented on #93
Hello @nicolas-brousse,

You can't do that now, but we can introduce this behavior.

You can override the component helper in your own project  by defining a custom component helper in your `app/helpers/pplication_helper.rb`:

[code]

[2018-05-22 19:20] nicolas-brousse commented on #93
Thanks @florentferry.
It works for me.

It could be nice to have it implemented inside Komponent 😃

[2018-05-22 19:27] nicolas-brousse opened #94 "Style guide view"
Do you think the gem could contain a style guide generator [like `mountain_view` does](https://github.com/devnacho/mountain_view#example-style-guide-1)? (Or [`kss`](http://warpspire.com/kss/styleguides/))

Could be nice to have this kind of page, in development environment, that list all the components with some documentation and example(s).

[2018-05-23 09:14] florentferry commented on #94
Hello,

I prefer to let users free to create their own styleguide page, it's simple to setup with a scaffold, and to customize with custom component wrapper. Each people have different needs in terms of layouts, styles and informations to show in styleguide. There are several ways to hydrate components in styleguide, from database, json files, or others.

 We can add an entry in wiki to help guys

[2018-05-23 10:07] nicolas-brousse commented on #94
@florentferry I understand your point of view.

Yes, it could be fine to have a wiki page at least.

[2018-05-30 10:48] Spone commented on #94
It's a good idea to think about it. Let's see how it can be implemented, then we can decide if we want to include it (or just document how to do it in the wiki).

How would we list the existing components?

1. We could list the folders in `frontend/components` (but it has to be recursive to support nested components)
2. We could parse the `frontend/components/index.js` file to extract the list of

[2018-05-30 12:05] nicolas-brousse commented on #94
Looks like `mountain_view` simply use `Dir.glob` on components folder (https://github.com/devnacho/mountain_view/blob/master/app/helpers/mountain_view/styleguide_helper.rb#L31).

But what about the component helper methods and properties?

[2018-05-30 12:19] Spone commented on #94
I think the first step is to get the list of components names (to build the styleguide navigation). We can use one of the two methods described above to achieve that.

Then, for each component, we need a list of examples to show how they can be used. I think the most flexible way would be to add a file to the component folder. It could be named `examples.html.slim` or `usage.html.slim`

It would c

[2018-05-30 13:02] Spone commented on #94
That would be awesome. In this case, we could include it with the gem as an optional engine that you can mount in your `routes.rb` (as Mountain View does).

This way, if you don't need the styleguide, just don't mount it. If you need the styleguide only in development your can mount it only if `Rails.env.development?`

[2018-05-30 16:21] florentferry commented on #94
Seems good to me. :+1:

- Add an `example` template file when generating component (by default or with an option)
- Make a mountable engine with `Komponent::StyleguideController` handling responses
- Add a way to list all components in a project as an helper ?
- Add an index view listing all components
- Add a component view for each component

[2018-05-30 16:35] nicolas-brousse commented on #94
Okay, sounds good. So I'll try to work on it in the next days if I found a bit of time. I'll keep in touch with you.

[2018-05-31 21:04] florentferry commented on #56
I am closing this issue, feel free to reopen to discuss more about Middleman integration.

[2018-05-31 21:04] #56 closed

[2018-05-31 21:05] florentferry commented on #80
I am closing this issue, feel free to reopen to discuss more about usage of an `index.js` file instead of explicit naming.

[2018-05-31 21:05] #80 closed

[2018-05-31 21:07] florentferry commented on #83
Seems this issue has been resolved by a workaround, feel free to reopen if that solution is not appropriate for your use case.

[2018-05-31 21:07] #83 closed

[2018-05-31 21:50] #93 closed

[2018-06-12 10:47] nicolas-brousse opened #100 "Component generator error with single quotes string"
On a project we use single quotes on js files. So our `frontend/components/index.js` has list of components with single quotes.

The problem with when we generate a new component, the [`import_to_packs` method](https://github.com/komposable/komponent/blob/master/lib/generators/component/component_generator.rb#L37) seems to remove all components import and adding the new one.

[code]

Not sure what

[2018-06-12 13:14] nicolas-brousse commented on #100
### How to reproduce the bug

[code]

After what I got this inside `frontend/components/index.js`:
[code]

Ok, now I convert double to single quotes inside this file, then I generate a new component `rails generate component form`.

And `frontend/components/index.js` now contain:
[code]

[2018-06-12 13:21] Spone commented on #100
Thanks for the instructions, it will help!

[2018-06-12 14:42] nicolas-brousse commented on #100
Maybe the error is due to [`sort_lines_alphabetically!(path)`](https://github.com/komposable/komponent/blob/master/lib/generators/component/component_generator.rb#L171) and not `import_to_packs`.

[2018-06-12 14:46] Spone commented on #100
I think you're right. Can you try modifying the regex from [this line](https://github.com/komposable/komponent/blob/master/lib/generators/component/component_generator.rb#L173)?

We would need `/^import ["'](.*)["'];$/` to support simple quotes.

[2018-06-13 12:03] Spone commented on #100
I added a failing test case here: https://github.com/komposable/komponent/pull/101
and pushed this commit https://github.com/komposable/komponent/pull/101/commits/086be84f66e0483b97f63960095e49b26f557b98 to fix the issue.

But I'm not sure what behavior we want... Should we rewrite the whole index file with single or double quotes? How do we check what is the expected syntax for the current projec

[2018-06-13 12:35] nicolas-brousse commented on #100
I think to start it's not really a problem to continue adding new component with double quotes. The main think is to not remove previous added components :)

[2018-06-13 12:37] Spone commented on #100
Okay, let's merge this fix for now, and we may improve this later.

[2018-06-13 15:28] #100 closed

[2018-06-20 21:33] Spone commented on #92
Thanks for the feedback. I think we should follow this issue https://github.com/rails/webpacker/issues/348 to see if a recommended approach emerges.

We also did some experiments with NPM packages (basically installing your engine as a gem AND a NPM package) and it works, but it's not very straight-forward.

[2018-06-20 21:35] Jbern16 commented on #92
@Spone I ended up moving away from the copying and made my frontend folder in my engine its own NPM package and a git submodule. Yeah not super elegant but it works!

[2018-07-20 10:54] simonini opened #103 "Problem with haml generated."
Hi! Thanks for your great work and ideas.

When I generate a component with haml i get this

![schermata 2018-07-20 alle 12 45 36](https://user-images.githubusercontent.com/104249/42998655-2a0985b0-8c1b-11e8-84d4-41503d7960c8.png)

When with haml can be enough

`.print-btn`

or (if you want to be more verbose)

`div{class: 'print-btn'}`

[2018-07-20 13:38] #103 closed

[2018-07-28 14:32] nicolas-brousse opened #106 "Having components present on bin/rails stats command"
I guess it could be nice to have stats who come from components into `bin/rails stats` command.

https://github.com/rails/rails/blob/20c91119903f70eb19aed33fe78417789dbf070f/railties/lib/rails/tasks/statistics.rake

This is how `rspec-rails` do it.
https://github.com/rspec/rspec-rails/blob/e8054a1cd03044f725030fe8315952cf3799a395/lib/rspec/rails/tasks/rspec.rake#L8

May be we could have something

[2018-07-28 14:35] nicolas-brousse opened #107 "How to test a component inside a Rails application?"
Those days I'm working on testing some part of a Rails application. And I was asking me, how to test a component? But I haven't a answer. So I open this issue to ask you if you already have a way, or if not to discuss about it.

Also if there is a way, may be it could be nice to implement a template for mini test and rspec during a component generation.

[2018-07-28 19:04] Spone commented on #106
Yes, it would be a nice-to-have feature!

[2018-07-29 19:54] florentferry commented on #107
No right answers here. It depends on what you want to test.

If you are using components as a structural tool, you can only check behaviors with functional tests. You can use unit tests for rendering (smoke test), and test edge cases handled in component modules. So what kind of tests do you want ? What tests would you see for components ?

Maybe choosing a component, and thinking about how you wo

[2018-08-04 10:18] stevschmid opened #111 "content_for / yield is not working across components"
Apparently this was adressed earlier (Issue https://github.com/komposable/komponent/issues/19, PR https://github.com/komposable/komponent/pull/21) but it seems the involving `view_flow` line
https://github.com/komposable/komponent/blob/dde02be9d08988e65c31b4c498e4f9440775a668/lib/komponent/komponent_helper.rb#L11-L15
didn't survive the refactoring into the `ComponentRenderer`
https://github.com/ko

[2018-08-04 11:26] Spone commented on #111
Hi @stevschmid thanks for the report!

@florentferry can you confirm?

[2018-08-04 22:29] nicolas-brousse commented on #107
Thanks for your answer @florentferry for now I'm not really sure of how to and what I would like to test exactly.

I mainly open this issue to know if it's something you already did.

I'll do some try later and let you know. But for now I have no answer.

[2018-08-13 21:05] Spone commented on #111
Hi @stevschmid thanks for your patience while we review your PR!

[2018-08-13 21:11] #106 closed

[2018-08-20 12:46] Spone commented on #91
We also discussed another way to do it:

- run the generator with the new name (`rails g component new_component`)
- copy the content of the files from the `old_component` folder to the new component
- run the destroy generator with the current name (`rails d component old_component`)

But we may have to fix the behavior of the destroy generator when dealing with nested components.

[2018-08-20 12:48] Spone opened #113 "Reordering of index.js file: put relative paths at the bottom"
When reordering the index.js file ([here](https://github.com/komposable/komponent/blob/master/lib/generators/component/component_generator.rb#L171)) we should keep the relative paths starting with `../` at the end of the file, else `eslint` complains...

[2018-08-21 18:07] #111 closed

[2018-08-21 18:08] Spone commented on #111
Thanks for your contribution @stevschmid!

[2018-08-21 19:39] stevschmid commented on #111
Thanks for merging 👍

[2018-08-21 21:29] nicolas-brousse opened #114 "Add static pages support on Styleguide"
Support for adding static pages: add routes in the engine, so you just have to create the views in app/views/komponent/static/

Needs #95 to be merged first

[2018-08-22 14:23] ukazap opened #115 "Component generator option to turn off semicolons"
When I run `rails g component button`, it creates js file, and also appends to index.js, both contains semicolons. In my project I don't use semicolons, wouldn't it be nice if I could specify option in application.rb, e.g.:

[code]

[2018-08-22 14:46] Spone commented on #115
Hi @ukazap thanks for opening an issue.

This is related to https://github.com/komposable/komponent/pull/105 where we discuss preference between single and double quotes. It would be great to have a common solution to specify code style preferences.

Do you use eslint or another similar tool?

[2018-08-23 00:03] ukazap commented on #115
@Spone yes, I am using eslint + prettier

[2018-08-23 09:17] stevschmid opened #117 "Namespacing issues"
Hey guys

I just submitted the PR #116 but I stumbled upon a problem with it: I assumed (wrongly) that a component generated via `rails g component 'hello/world'` would create the main view as `components/hello/world/_world.html.slim`. Instead, it creates `components/hello/world/_hello_world.html.slim`

is there a rationale behind this? And why is the generated ruby component not properly namespac

[2018-08-23 09:27] Spone commented on #117
Hi @stevschmid thanks for opening this issue and for your PR :)

The idea behind the `components/hello/world/_hello_world.html.slim` naming is to keep the filename explicit enough about the current component namespace.

If you have several components named `item` for instance, each in their own namespace, it quickly becomes a mess in your editor when you open several of them in tabs, because they

[2018-08-23 13:16] Spone commented on #117
I agree those are valid issues to consider. We'll discuss it and let you know (probably second half of September, I'm going to be on vacation until then).

[2018-08-23 13:18] Spone opened #118 "Add tests against Rails edge?"
As development for Rails 6.0 in underway, maybe we should add Rails edge as a target for our tests?

[2018-08-23 14:02] stevschmid commented on #117
No worries. Thanks for getting back to me so quickly. Enjoy your vacation!

[2018-09-03 07:07] pboling opened #120 "Readme says install will rename app/javascript to frontend, but no"
According to the "Getting Started" section of the readme:

The second step, renaming `app/javascript` to `frontend` did not happen, and as such the `modify webpacker config accordingly` has left things in a quite odd state.

It did *create* a `frontend` directory, but the old `app/javascript` directory is still present, and still has all the same stuff in it.

I am using latest versions of everyth

[2018-09-10 09:17] Spone commented on #120
Hi @pboling, you're right, something is broken in the install generator.
The first step would be to fix the tests that failed to detect the issue. We started here: https://github.com/komposable/komponent/pull/98
Then once the tests break, we can start working on fixing the issue.

[2018-10-22 09:31] nicolas-brousse opened #121 "uninitialized constant ButtonComponent"
Sometimes I got this kind of exception on production projects.
But I've no idea of what is causes this. I didn't have similar exception on other classes than `Component` classes.

Does it something you already noticed?

[code]

[code]

[2018-10-26 05:33] aldhsu opened #122 "Performance"
We are considering using Komponent but I have a question regarding the performance of rendering.

A contrived example:

[code]

![screen shot 2018-10-26 at 3 24 21 pm](https://user-images.githubusercontent.com/6347283/47546354-39707c00-d934-11e8-83ec-12ec0204c19f.png)

Nested partials is a known issue for performance in Rails as the partials are all read from disk, everytime they are used. They re

[2018-10-26 07:46] Spone commented on #122
Hi @aldhsu, thanks for considering using Komponent!

We use it in production on several websites and performance hasn't been an issue for now. You can always use [component caching](https://github.com/komposable/komponent#component-caching) if you need to improve it.

In the future, we could also add a collection helper (`component_collection` maybe?) and achieve the same kind of optimization as R

[2018-10-26 07:48] Spone commented on #121
Thanks @nicolas-brousse for the report!

We need to investigate this. Please let us know if you have more information.

@sigmike @florentferry any idea about what could be the cause of this?

[2018-10-31 06:04] aldhsu commented on #122
For future reference. I did some more digging and this is more of a problem in development. Nested partials and using render without the collection helper will still degrade performance as expected in production, but it may still fit in your performance envelope.

In production, Rails has a variety of optimisations for partial rendering (caching the path etc.).

Fresh install of Rails no other gem

[2018-11-01 09:06] Spone commented on #122
Thanks for benchmarking it!

I also noticed a slowdown in development, on component-heavy pages, but I'm not sure how we could solve that, since we can't really use cache while developing...

[2018-11-02 02:56] aldhsu commented on #122
@Spone I see this as ActionView's problem. A performance optimisation could be made to keep the compiled template in memory during a single page render rather than going to disk everytime. Performance would then be more inline with the partials rendered with the collection option for components that are used adhoc throughout a page.

If you have a collection to render I recommend using render opti

[2018-11-02 08:55] Spone commented on #122
We will definitely consider adding a `component_collection` helper then. Let me reopen the issue.

[2018-11-09 09:55] Spone commented on #122
Also, it depends on your specific case, but if you render a parameter-less component, a quick win is to render the component once, capture it to a string, and reuse the string subsequently, like this:

[code]

[2019-02-02 15:24] Spone opened #125 "Add nested components support in styleguide"
When we worked on the styleguide view, we did not include the nested components in the nav.

It would be great to fix that :)

[2019-02-04 08:50] stevschmid commented on #117
Hey @Spone

Thanks for getting back to me. Sounds great!

[2019-02-04 17:09] #94 closed

[2019-02-04 19:47] #113 closed

[2019-02-14 21:57] colbyhub commented on #120
I see that #127 is open, is there any movement there? Would **love** to use this gem for projects, but it's definitely not super fun at the moment 😢

[2019-02-14 22:28] Spone commented on #120
We're actively working on it, targetting the v3.0.0 release :)
Feel free to help!

[2019-02-18 05:48] aldhsu commented on #107
If you just want to assert some HTML eg. testing your logic in the component.rb is correct, a method to do this is using the render anywhere methods in Rails 5. This only tests the erb and the component.rb file. This doesn't have a real browser backing it so you can't test user interaction or JS.

So a rendered example:
[code]

[2019-02-18 11:43] Spone commented on #107
It could be interested to do some unit testing on the methods of the `EventComponent` module as well.

In this case, where do we put the test file? If we follow the current architecture, it would make sense to have it in the component folder.

[2019-02-18 23:45] bernardeli opened #129 "Cut a new version?"
Hi there,

Any plans to bump the minor version? I've been hit by the bug at PR #116. I can point my Gemfile to master in the meanwhile.

Thanks very much :)

[2019-02-19 03:10] aldhsu opened #130 "Nested yields"
I'm trying to write a Komponent with a method that renders another Komponent but something seems to be up with how the blocks are passed around.

I have built a repro case at https://github.com/aldhsu/komponent-nested-yields.

### Expected
Expect this:
[code]

[code]

[code]

[code]

To output:
[code]

### Actual
[code]

I'm not sure I entirely understand how the `capture` is supposed to work in t

[2019-02-21 22:06] xdmx commented on #122
I'm also considering komponent as an alternative to structure my front end components, and I've run some tests with different variances.

You can find the [code here](https://github.com/xdmx/komponent-performance) (I've borrowed the base from @aldhsu repo :raised_hands: ).

These are the results (in ms) I've got by running `ab -n 50 http://127.0.0.1:3000/pages/index{1,2,3,4,5,6,7}`:

  |   | mean

[2019-02-22 09:38] Spone commented on #122
Hi @xdmx, thanks for running these benchmarks!

We definitely have a lot to improve in terms of performance, especially in development.

I think it's normal you get similar results between your `index1` and `index7` test because you're doing nearly the same thing (rendering 50 times the `nested_yielder` component).

We welcome all contributions on this matter :) I think the lowest hanging fruit is

[2019-02-22 09:49] Spone commented on #130
I think this issue is similar to #83, that has been handled with a workaround.
Since it's the second time this issue is raise, I think we should investigate further.

[2019-02-22 10:53] xdmx commented on #122
Yeah, development could definitely use some speed up.

About the `index1` and `index7`, I wanted to check out the suggestion to use `collection` from @aldhsu [previous comment](https://github.com/komposable/komponent/issues/122#issuecomment-435255660), but I couldn't get that improvement even by using it.

I think the issue, and the thing to improve are nested components as well. `component_collec

[2019-02-26 11:07] Spone commented on #129
Hi @bernardeli, I'm on it!

[2019-02-26 12:55] dmkl commented on #121
@Spone I have the same issue. I cannot reproduce it, but it happens in production sporadically few times a day. Please help!

[2019-02-26 13:05] nicolas-brousse commented on #121
Hi @dmkl.

I have some questions that may help us to know where to search.

- Rails version
- Ruby version
- HTTP gem server used (ex: puma, passenger, ...)
- Do you use something special to track errors (airbrake, sentry, reading log/production.log)
- Does the errors always show the same Component?

In our project we still have the issue, but the Component is not always the same. I don't know if

[2019-02-26 15:00] dmkl commented on #121
@nicolas-brousse sure:

- Rails 5.2.0
- ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]
- puma 3.12.0
- logentries for logs
- appeared 4 times in the last 3 days - different component each time

I cannot find any correlation between occurrences. It doesn't seem to be related to server restarts.

[code]

[2019-02-26 15:17] nicolas-brousse commented on #121
@dmk thanks for this info. It give us more visibility, but it still a weird issue. I'll try to take some time to try to understand what happen.

I have to take a bit of time in our sentry to check if the error appear less often since we moved from 2.5.3 to 2.6.1.

[2019-02-26 15:47] Spone commented on #121
Hi @dmkl,

we're wondering if we shouldn't eager load the component modules.
That's how `draper` does it for instance: https://github.com/drapergem/draper/blob/master/lib/draper/railtie.rb#L15

See these links on the topic:
- https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoload-paths-and-eager-load-paths
- https://blog.arkency.com/2014/11/dont-forget-about-eager-load-wh

[2019-02-26 15:52] nicolas-brousse commented on #121
I'll also do the update to check.

[2019-02-26 21:05] dmkl commented on #121
@Spone, @nicolas-brousse thank you! I'll update to eager loading and let you know in a while if it helps.

[2019-02-28 21:01] #120 closed

[2019-03-03 15:50] Spone commented on #129
You can try [v3.0.0.beta1](https://github.com/komposable/komponent/releases/tag/v3.0.0.beta1)

[2019-03-03 15:50] #129 closed

[2019-03-17 13:01] agungyuliaji opened #133 "Rails 6 - undefined method `view_renderer='"
How to reproduce:
- use rails 6 6.0.0.beta3
- install komponet gem
- just follow button generate example from Readme
- render the button componet into the view, `component 'button'`

[2019-03-17 15:30] Spone commented on #133
Hi @agungyuliaji

which version of Komponent are you using?

Thanks in advance.

[2019-03-17 15:32] Spone commented on #118
We should update this to test against Rails 6.0.0.beta3 now.

[2019-03-17 19:57] agungyuliaji commented on #133
Hi @Spone
it's ver. 2.2.0

[2019-03-17 21:33] Spone commented on #133
Can you try with 3.0.0.beta1?

[2019-03-18 08:55] ogntng commented on #133
still same, the core problem is, `view_renderer=` is not exist
i've updated my PR, fix the test run, https://github.com/komposable/komponent/pull/134

but now I think maybe this is a **little far away** (since rails 6 is beta),
maybe we can close this issue,
and I will use the monkeypatch mode for my issue.

thanks bro 👊

[2019-03-18 08:57] agungyuliaji commented on #133
still same with `3.0.0.beta1`, the core problem is, `view_renderer=` is not exist
i've updated my PR, fix the test run, https://github.com/komposable/komponent/pull/134

but now I think maybe this is a **little far away** (since rails 6 is beta),
maybe we can close this issue,
and I will use the monkeypatch mode for my issue.

thanks bro 👊

[2019-03-18 09:24] Spone commented on #133
Thanks for the feedback. I'll keep the issue open because it's weird our tests haven't detected the issue. I reopened #118 to update our tests to the new beta3.

[2019-03-19 16:49] dmkl commented on #121
@Spone, @nicolas-brousse eager loading seems to resolve the issue. Since updating config settings to `eager_load: true` I didn't see this error for 3 weeks (ruby 2.5.3, Rails 5.2.0). Thank you!

[2019-03-19 16:51] nicolas-brousse commented on #121
Yay! Sounds like a great news!

Thank you too for testing and let us know 🙂

[2019-03-19 16:54] Spone commented on #121
Great, we'll add this in a future release! Thanks @dmkl

[2019-03-26 01:29] langsharpe commented on #122
I ran index1 (the nested component test) above through [Stackprof](https://github.com/tmm1/stackprof), and found something interesting.

[code]

At least 8.5% of the time is being spent in ComponentPathResolver. By [adding a cache](https://github.com/langsharpe/komponent-performance/blob/master/config/initializers/komponent.rb) performance can be improved.

[code]

It's not a huge win but I think

[2019-03-26 04:41] Spone commented on #122
Hi @langsharpe thanks for taking the time to run some tests!

Do you see any drawback in including this cache mechanism by default?
Would you mind opening a PR for this?

[2019-03-26 06:13] langsharpe commented on #122
The only drawback is it wouldn't work in development mode. It would probably need to be configurable.

It would also add concurrent-ruby as a dependency. I'm not very familiar with it. I just copy and pasted what the Rails gem does with it.

[2019-03-26 06:25] Spone opened #137 "Support Webpacker 4"
Let's support Webpacker 4 :)

[2019-03-26 06:50] Spone commented on #133
Our tests were actually not run on Rails 6 :man_facepalming:

I managed to reproduce the issue in the tests: https://travis-ci.org/komposable/komponent/jobs/511340428

[2019-03-26 09:26] aldhsu commented on #122
I had this discussion with @langsharpe and thought this might be interesting.

I was trying to flesh out my understanding of what the partial rendering for a collection does to speed up rendering:
https://github.com/rails/rails/blob/e69ff43060c1194d2a3bd9b8d9e23f3ae26b84b5/actionview/lib/action_view/renderer/partial_renderer.rb#L448-L468

This looks superficially similar to what you have done @lan

[2019-03-26 09:36] Spone commented on #122
That's super interesting, thanks for sharing these ideas! Also I'm discovering the `components` library which looks promising!

Would you be willing to contribute code for improving this?

[2019-03-26 09:42] Spone opened #138 "Render a component without a partial"
Drawing inspiration from https://github.com/jensljungblad/components#rendering-components-without-a-partial we could have a `render` method in our component module, that would return the HTML code for the component.

It would be a nice performance improvement for very simple modules (icons, buttons...)

[2019-03-26 21:58] xdmx commented on #138
This is also the approach taken by [mountain view](https://github.com/devnacho/mountain_view#improving-performance), which you may already know as I saw a issue from you a couple of years ago :smile:

[2019-03-26 22:01] Spone opened #139 "Set load path from gem instead of using install generator"
Following #121 and #136, what about calling this line:

    config.paths.add "frontend/components", eager_load: true

directly from the gem instead of adding it to `config/application.rb` when running the install generator.

Let's make a list of advantages and potential drawbacks!

[2019-03-26 22:52] #121 closed

[2019-03-28 00:41] aldhsu commented on #122
I had a crack at making a proof of concept https://github.com/fivegoodfriends/komponent/tree/cache-templates.

Results aren't as drastic as I would have hoped. Scenario:
@langsharpe test for index1, 500 times component:
In production mode

State | Mean
--- | ---
Without Cache | 463ms
Cached | 316ms

[2019-03-28 08:14] Spone commented on #122
Thanks for giving it a try :+1:
What about development mode? As your solution is using memoization, it can be safely used in development, right?

[2019-03-28 08:55] florentferry commented on #139
If you load it directly from gem, you loose advantage of changing default root path (https://github.com/komposable/komponent#change-default-stylesheet-engine). But maybe not an issue to remove that option ?

[2019-03-28 09:02] Spone commented on #139
Can't we use the `Rails.application.config.komponent.root` value in `config.paths.add` in case it's called from the gem?

[2019-03-28 09:15] #118 closed

[2019-03-28 09:15] #133 closed

[2019-04-30 20:59] 0x2C6 commented on #133
Same problem here :D I should also be good if it moves and renames javascript to frontend and also copy channels and other folders

[2019-04-30 21:29] 0x2C6 commented on #133
Okay, temporary solution.
Clone the repo and move it to the application's lib folder
update Gemfile and add
[code]
Edit component_renderer file as below or just replace "view_renderer" instance variables to "render"

[code]

Works for me try both 5.1.x and 6.0rc

[2019-06-23 12:05] alec-c4 commented on #133
Hi! Maybe it would be better to create separate branch with this patch?

[2019-08-24 08:18] robink opened #144 "Komponent's view_renderer is leaking to Rails"
This commit seems to have introduce a bug in Rails 5.2 support (and certainly more versions) :

https://github.com/komposable/komponent/commit/3aed17227e1a9d89586bc61905f304fa202b74b3#diff-d662fd06dc2cbab92ab384c4af54a041L12-R12

It happens that `@view_renderer ==  controller.view_context.view_renderer` is now `true`, which means komponent is leaking its view_renderer manipulation to Rails.

It pr

[2019-08-26 16:55] Spone commented on #144
@robink can you write a failing test case for this?

[2019-08-26 16:56] robink commented on #144
I think I could indeed ! Just let me a couple a days to find some time to work on it

[2019-08-28 14:25] robink commented on #144
Here you go ;-)

[2019-08-28 22:30] Spone commented on #144
Thanks a lot @robink for contributing these tests. They seem to pass on the Rails 6 environment! We have to investigate how to fix this.

[2019-08-29 12:39] robink commented on #144
Well I guess the fix is quite easy if you look at the commit that introduced the bug (cf start of this thread). I'm ok to do it if you want (next week).

[2019-08-30 12:28] Spone commented on #144
Yes I guess we have to do `@view_renderer = @context.view_renderer.dup`

It would be great if you had the time to try this fix and add it to your PR!

[2019-09-18 22:45] Spone commented on #144
Fixed in #146

[2019-09-18 22:45] #144 closed

[2019-09-30 06:36] aldhsu opened #148 "Zeitwerk compatibility"
Are there any tips for making components compatible with Zeitwerks name expectations?

Related to this issue https://github.com/komposable/komponent/issues/117

The error I'm seeing is like this:
[code]
This dependent on test ordering I don't actually see it in development. However it is reproducible by loading the view twice in the test.

I have considered:
1. Using a custom inflector - you can't

[2019-10-01 05:34] aldhsu commented on #148
I have settled on disabling autoloading for frontend for tests for now.

[2019-10-02 07:07] aldhsu commented on #148
Actually tried to deploy this but similar issues cropped up in production.

[2019-10-02 15:09] danieldocki commented on #148
I have same issues.

[2019-10-02 15:55] Spone commented on #148
Hi @aldhsu thanks for opening this issue. Actually we haven't been using Komponent in Rails 6 yet, so I'm not really informed to debug this.

I'd be happy to move on with #117 if it solves this issue at the same time.

We're welcoming any contribution :)

[2019-10-09 11:26] nicolas-brousse opened #149 "komponent:install doesn't work with Rails 6"
`komponent:install` generator doesn't work correctly with Rails 6.

[code]

[2019-10-10 20:09] nicolas-brousse commented on #149
It has been fixed in d8f3be95bf937bfdf14fb1f351af2cd13d5289d9.

Fix is present in [`v3.0.0.beta1`](https://github.com/komposable/komponent/releases/tag/v3.0.0.beta1) but not in [`v2.0.0`](https://github.com/komposable/komponent/releases/tag/v2.2.0).

May we backport the fix in `v2.0.1`? Or we wait for `V3.0.0` release?

[2019-10-10 22:00] Spone commented on #149
Feel free to backport it, then we can release a 2.0.1 version

[2019-11-19 22:49] nicolas-brousse commented on #139
It's what https://github.com/komposable/komponent/blob/eb4267b40f927ab2cad840d644353d38a9e36a60/lib/komponent/engine.rb#L55 does, no?

[2019-11-19 23:03] nicolas-brousse commented on #148
Hi @aldhsu we have the same issue here on Rails 6 with Zeitwerks.

I start investigating on my side too.

And, I think the following should resolve the issue.

`config.paths.add "frontend/components", eager_load: true, glob: "*"`.

Before change:

[code]

After:

[code]

I'll try it on production tomorrow. Let me know if you do some tries in your side.
Also I'm not sure if it's compatible with Rai

[2019-11-19 23:22] nicolas-brousse commented on #148
I just deployed and it seems to works 🎉

[2019-11-19 23:25] aldhsu commented on #148
Ok @nicolas-brousse I'll give it a go. Is that only in production?

[2019-11-19 23:28] nicolas-brousse commented on #148
I've to check, but my coworker adds some issues on development too. Ruby part of component was loaded but didn't seems to reload code on changes. He adds to restart is server on component changes.

I'll try to do more test tomorrow.

[2019-11-19 23:36] nicolas-brousse opened #151 "bin/rails stats doesn't run anymore"
`bin/rails stats` are failing on my application.

I've the following error:

[code]

I've executed `Rails.application.config.komponent.component_paths` in a test rake task, and it returns me the following:

[code]

[2019-11-20 13:14] nicolas-brousse opened #152 "Styleguide generator improvements"
- [ ] don't do nested css on komponent styleguide components, since `postcss-nested` (or `postcss-nesting`) is not installed by default with webpacker
- [ ] Add a `style.css` stylesheet file at `frontend/components/komponent/` to have generic css like (`body { margin: 0; }`
- [ ] Add link to `Styleguide` in header
- [ ] Use [`rouge`](https://github.com/rouge-ruby/rouge) or an other, to colorize `c

[2019-11-20 13:15] nicolas-brousse commented on #148
It seems to resolve the issue in development too, on our side.

[2019-11-20 13:19] nicolas-brousse opened #153 "Use ActiveModel::Validations on components"
I think it could be nice to be able to use `ActiveModel::Validations` on a component.

[2019-11-20 20:12] nicolas-brousse opened #154 "2.3 release"
* [ ] Backport Rails 6 fixes

[2019-11-20 20:13] nicolas-brousse commented on #154
Not sure which other fixes we should backport too.

https://github.com/komposable/komponent/compare/v2.2.0...master

/cc @Spone

[2019-11-20 21:04] nicolas-brousse commented on #153
Since a component is a `module` like an helper. I think we can't do this for now.

Component should be a `class` to be able to do this.

[2019-11-20 22:39] nicolas-brousse commented on #137
What changes are needed to support Webpacker 4?

[2019-11-22 22:53] nicolas-brousse commented on #148
I have to double check, but this fix seems to resolve issue only for component without namespace unfortunately ...

[2019-11-25 16:14] nicolas-brousse commented on #107
I was thinking a bit of this subject recently, and I'm not sure we really needs to test the ruby component file.

All tests could be done on view directly. All code of component should be use in view. Otherwise it sounds like old code.

I think we could have a module/class to extends or include, like for `ActiveJob`. It should be base on https://guides.rubyonrails.org/testing.html#testing-views an

[2019-11-25 16:15] nicolas-brousse commented on #152
I was thinking a bit more about the styleguide those days and I'm not sure if having styleguide always in application side is a good idea.
Having it customizable is a good idea, but not sure it is by default. I think that I could be a pain to keep styleguide up-to-date in future.

I've an alternative proposal.

* Stop using components for headers, sidebar, footer, header. All this html could be in

[2019-11-28 15:32] #151 closed

[2019-12-04 13:42] rastersysteme opened #158 "undefined local variable or method `component_name'"
**Version:** 3.0.0.beta1

After doing:

[code]

I get the following error:

[code]

Have a look at `examples.html.haml.erb`:

[code]

There’s a missing `@` (same with .slim and .erb files). After using it, everything works fine.

[2019-12-10 17:05] Spone commented on #158
You're right! Would you mind contributing a PR to fix this?

[2019-12-19 21:14] dlupu commented on #153
I totally agree,  this would be great.

[2019-12-24 14:42] nicolas-brousse commented on #153
Since this implies using classes instead of modules. It's something that should only appear in a major realease, with broken changes I guess.

[2020-01-15 22:18] 0xStarcat commented on #153
Having any sort of way to validate a property would be great - not saying you need a whole system like React's PropTypes, but at least a simple way to pass an execute a `:validator` option on definition

[2020-01-20 22:31] nicolas-brousse opened #161 "Ruby 2.7 compatibility"
Could be nice to do tests with ruby 2.7 and check errors/deprecations.

[2020-01-20 23:04] #125 closed

[2020-03-03 22:53] nicolas-brousse commented on #148
Zeitwerk release 2.3.0 added `#collapse`. Maybe it may help us.

https://github.com/fxn/zeitwerk#collapsing-directories

[2020-03-10 12:47] SimonEggert opened #164 "Files from frontend/components/komponent listed in sidebar"
After updating from v3.0.0.beta1 to https://github.com/komposable/komponent/commit/d1ae3df717caa3984939dfc829e688b00f715d44 to make komponent work after a Rails 6 update, the komponent components themselves are showing up in the sidebar:

I'm seeing something like this in my current styleguide:
![Bildschirmfoto 2020-03-10 um 13 45 07](https://user-images.githubusercontent.com/33206628/76313519-5f9

[2020-03-10 12:53] Spone commented on #164
Nice catch @SimonEggert thanks for reporting it! Feel free to contribute a fix if you have some time to spend on it :)

[2020-03-24 08:44] SimonEggert commented on #164
@Spone Sadly I do not have the time to look into this issue much further. The only thing I can tell is that the bug got introduced with https://github.com/komposable/komponent/commit/d1ae3df717caa3984939dfc829e688b00f715d44. I fixed my setup by using the commit right before that.

[2020-05-21 01:06] laptite opened #165 "Add option to create pcss files upon component generation"
**Enhancement request:**
The stylesheet_engine options are limited to :css, :sass and :scss. It would be nice to update or create a config option with the sole purpose of creating a pcss file when generating a new component.

[2020-05-21 20:11] Spone commented on #165
Thanks for the request, we're accepting contributions :)

[2020-07-31 10:40] GeoffTidey commented on #148
Hi.  Bit of a workaround, but this is working for me atm on Rails 6 with zeitwerk 2.4.0

[code]

[2020-08-10 16:18] tdutreui opened #168 "Question - What is the proper way to organize subdomain-specific components ?"
Hi guys :) Hope you're fine !
First, thank you for this very nice gem.

I'm currently setting up Komponent 2.2.0 in our Rails app with subdomains, let's say :
[code]

**Problem** : With 2 different komponent root directories, a conflict regarding the components ruby classes occurs because the modules have the same name.

Example for an "icon" component :
[code]

Using `component 'icon'` on the pro

[2021-01-29 16:37] Spone opened #169 "Future of Komponent"
I would like to gather feedback, to figure out what the future of Komponent should look like.

We created Komponent in 2018 when there was no convincing solution to organize our front-end code into components. Now in 2021 I feel like [ViewComponent](https://github.com/github/view_component) is the new standard for this. It is popular, very fast, well maintained and follows Rails conventions more c

[2021-01-29 16:44] Spone commented on #169
cc @andrzejsliwa @olimart @gkemmey @MittchoBaroco @stevschmid and other contributors, I would be happy to read your opinion on this!

[2021-01-29 17:27] florentferry commented on #169
Hello here,

Seems a long time I don't have contribute to Komponent, mainly because I don't use it.

As you mentioned, it's difficult to maintain open source project, and even more when we don't actively use the projet in production. @Spone, and some others folks contributes to the projet, and it's nice to see people involved into it.

Rails introduced ViewComponent, and seems to be the standard,

[2021-01-29 20:15] Spone opened #170 "[Draft] How to migrate to ViewComponent"
This is an evolving draft of the steps needed to migrate your project and components from Komponent to [ViewComponent](https://github.com/github/view_component). Please add your notes and comments below.

## Goals

List the steps and gotchas when migrating. This is preliminary work to hopefully provide tools to ease the transition.

## Preparation

In my case, I use `frontend/` as my root folder,